<head>
    <link rel="stylesheet" href="/templates/main/list.css">
</head>
<nav>
    <div class="container">
        <input id="responsive-menu" type="checkbox">
        <label for="responsive-menu">Menu <span id="menu-icon"></span></label>
        <div id="overlay"></div>
        <ul>
            <li><a href="http://art.yale.edu/">Yale University School of Art</a></li>
            <li><a href="http://www.suzannecollinsbooks.com/">Suzanne Collins</a></li>
            <li><a href="http://www.arrestling.com/index.htm">Gulla’s Arrestling</a></li>
            <li><a href="http://www.roverp6cars.com/">MGBD Parts &amp; Services</a></li>
            <li><a href="http://www.irishwrecksonline.net/">Irish Shipwrecks Online</a></li>
            <li><a href="http://www.arngren.net/">Arngren</a></li>
            <li><a href="https://www.lingscars.com/">Ling's Cars</a></li>
            <li><a href="http://www.007museum.com/">JAMES BOND 007 MUSEUM</a></li>
            <li><a href="http://www.dokimos.org/ajff/">ACCEPT JESUS, FOREVER FORGIVEN!</a></li>
            <li><a href="http://ronoslund.com/">Ron Oslund's Home Page</a></li>
        </ul>
        <ul id="social-media">
            <li>
                <a href="https://dribbble.com/erinesullivan">
                    <i class="fab fa-dribbble"></i>
                    <span class="screen-reader-text">Dribbble</span>
                </a>
            </li>
            <li>
                <a href="http://codepen.io/erinesullivan/">
                    <i class="fab fa-codepen"></i>
                    <span class="screen-reader-text">CodePen</span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/erin_e_sullivan">
                    <i class="fab fa-twitter"></i>
                    <span class="screen-reader-text">Twitter</span>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/erinesullivan1">
                    <i class="fab fa-linkedin"></i>
                    <span class="screen-reader-text">LinkedIn</span>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/erin_e_sullivan/">
                    <i class="fab fa-instagram"></i>
                    <span class="screen-reader-text">Instagram</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<main>
    <div class="container">
        <h1>Responsive Menu</h1>
        <p>This responsive menu was made with just HTML and CSS.</p>
        <p>The menu list was inspired by <a href="https://blog.rankingbyseo.com/bad-websites/">Bad Websites Examples: Top 50 Worst Websites Designs That Will Make You Cringe!</a> by <a href="https://www.rankingbyseo.com/">Ranking by SEO</a>. I'm very happy to see that <a href="http://spacejam.com/">Space Jam</a> was not on the list. It holds a special place in my heart.</p>
    </div>
</main>