<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link href="https://webfontworld.github.io/seoulnamsan/SeoulNamsan.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2e4ea300fc.js" crossorigin="anonymous"></script>
</head>
<body style="background-color:#FAC87D;">
<header>
    <div class="logo-box">
        <img id="npt" src="/npt.png" style="display: block;" width="150px">
    </div>
    <ul class="menu">
        <li>
            <a href="#">운영진 및 교사진</a>
            <ul class="depth_1">
                <li><a href="#">운영진</a></li>
                <li><a href="#">국어</a></li>
                <li><a href="#">외국어</a></li>
                <li><a href="#">수학</a></li>
                <li><a href="#">사회</a></li>
                <li><a href="#">과학</a></li>
            </ul>
        </li>
        <li>
            <a href="#">중학 교과</a>
            <ul class="depth_1">
                <li><a href="#">1학년</a></li>
                <li><a href="#">2학년</a></li>
                <li><a href="#">3학년</a></li>
            </ul>
        </li>
        <li>
            <a href="#">민사 수업 맛보기</a>
            <ul class="depth_1">
                <li><a href="#">국어</a></li>
                <li><a href="#">외국어</a></li>
                <li><a href="#">수학</a></li>
                <li><a href="#">사회</a></li>
                <li><a href="#">과학</a></li>
                <li><a href="#">기타</a></li>
            </ul>
        </li>
        <li>
            <a href="#">민사뉴스</a>
            <ul class="depth_1">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">졸업생과의 인터뷰</a></li>
            </ul>
        </li>
    </ul>
    <div class="icon"><i class="fa-regular fa-user fa-3x"></i></div>
    <div class="icon2"><i class="fa-solid fa-lock fa-3x"></i></div>
</header>
<h1 style="text-align: center;margin:50px 50px 50px;font-family:'SeoulNamsan';">로그인 성공!</h1></p><br>
<button type="button" onclick="location.href='/main'" style="display:block;margin:auto;width:100px;font-family:'SeoulNamsan';">메인으로</button><br>
<footer>
    <div class="footer-dark">
        <div class="item social">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col item social">
                    <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></i></a>
                    <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></i></a>
                    <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></i></a>
                    <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></i></a></div>
            </div>
            <p class="copyright">Company Name © 2018</p>
        </div>
    </div>
</footer>
</body>
</html>